//.day-mode, .night-mode {
//  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
//}

html,body{
  color: #222;
  //height:100%;
  font-family:Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-size:18px;
  line-height:19px;
  background-color: white;
  overflow-y: scroll;
}

//设置height为100%,writepage需求
.top-box,.main-container{
  height:100%;
  overflow-y: scroll;
}


*{
  padding: 0;
  margin:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}


td{
  max-width:300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}

a{
  text-decoration: none;
  color: #000;
  //&:hover,&:active,&:focus{
  //  text-decoration: none;
  //}
}

ul,ol {
  list-style: none;
}

input.ng-invalid.ng-dirty {
  color:#ff6666;
}
input.ng-dirty{
  color:#00d6b2;
}

.day-mode{
  *{
    border-color:#d9d9d9
  }
  a.link-title{
    color: #555;
  }
  a{
    color: #999;
  }
}

.night-mode{
  *{
    border-color: #2f2f2f;
  }
}

.navbar-box{
  position: fixed;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  left:0;
  z-index: 1000;
  height:50px;
  top:0;
  width:100%;
  background-color: #222;
  color: #aaa;

  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .25px);
  -moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .25px);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .25px);
  margin-bottom: 15px;
  .wrap{
    position: relative;
    top:-10px;
    max-width:1110px;
    margin-right:auto;
    margin-left:auto;
    padding:0 8px;
    height:100%;
  }
  .contents{
    height:100%;
    margin:8px 0;
    position: relative;
  }
  .navbar-menu{
    height:100%;
    float: left;
    .navbar-item{
      float:left;
      line-height:50px;
      font-size:30px;
      color:#00d8ff;
      padding:0 20px;
      &.active{
        background: #333;
        color: #FFFFFF;
      }
    }
  }
  .navbar-expanded{
    height:100%;
    float: right;
    div{
      float:left
    }
    .navbar-item{
      float: left;
      color:white;
      font-weight:normal;
      background:  #08c;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;;
      height:40px;
      margin:6px;
      line-height:40px;
      padding: 0 18px;
      i{
        margin-right:5px;
      }
    }
    a.navbar-mode{
      float: left;
      color:#ccc;
      font-weight:normal;
      height:40px;
      margin:6px;
      line-height:40px;
      padding: 0 18px;
    }
    a.navbar-user{
      float: left;
      color:#ccc;
      font-weight:normal;
      height:40px;
      margin:6px;
      line-height:40px;
      padding: 0 18px;
      overflow: hidden;
      img{
        height:100%;
        width:auto;
        border:2px solid #2a2a2a;
        border-radius:50%;
      }
    }
  }
}

.main-box{
  padding:0 8px;
  padding-top:82px;
  max-width:1110px;
  margin-right:auto;
  margin-left:auto;
  .sidebar-box{
    position: fixed;
    top: 50px;
    left:0;
    bottom:0;
    .cover-img{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-position: 50%;
      background-size:cover;
    }
    .bottom-block{
      position: absolute;
      bottom:0;
      padding:30px;
      color: #FFFFFF;

    }
  }
  .sort-tags{
    margin-bottom: 18px;
    list-style: none;
    li{
      float: left;
      margin-right:10px;
      a{
        display: block;
        height:40px;
        border:1px solid #cccccc;
        line-height:40px;
        text-align: center;
        padding:0 10px;
        color: #000;
        &.active{
          background: #00d8ff;
          color: #fff;
        }
      }
    }
  }
  .article-list{
    margin-top:35px;
    .article-item{
      float: left;
      width:100%;
      padding-right:2px;
      padding-bottom:17px;
      margin-bottom:17px;
      border-bottom:1px dashed #d9d9d9;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      line-height:1.5em;
      .list-top{
        margin:8px 0;
        font-size:12px;
      }
      .title{
        margin-right:10px;
        font-size:18px;
        font-weight:700;
        line-height: 1.5;
      }
      .list-footer{
        font-size:12px;
        line-height:1.5;
      }
    }
  }
  .load-more{
    margin-bottom:30px;
    text-align: center;
    .ladda-button{
      background: #00d8ff;
      padding:14px 18px;
      font-size:1.2em;
      cursor: pointer;
      color: #FFFFFF;
      border:1px solid transparent;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;;
    }
  }
}



//
.article-box {
  width: 100%;
  margin: 0 auto;
  margin-top:70px;
  padding: 60px 10px 10px;
}
@media (min-width: 768px) {
  .article-box {
    width: 700px;
    padding: 20px 0 10px 45px;
  }
}
.article-container .title {
  word-break: break-all;
  font-size: 2.2em;
  font-weight: bold;
  line-height: 1.5;
}
.article-container .counts {
  margin: 20px 0;
}
.article-container .counts span {
  position: relative;
  top: 1px;
  margin-right: 10px;
  font-size: 12px;
}
.markdown-content, .day-mode .md-preview, .night-mode .md-preview {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.7;
}
.markdown-content h1, .day-mode .md-preview h1, .night-mode .md-preview h1 {
  font-size: 26px;
}
.markdown-content p, .day-mode .md-preview p, .night-mode .md-preview p, .markdown-content ul, .day-mode .md-preview ul, .night-mode .md-preview ul, .markdown-content ol, .day-mode .md-preview ol, .night-mode .md-preview ol {
  text-align: justify;
  text-justify: inter-ideograph;
  word-break: break-word;
}
.markdown-content p, .day-mode .md-preview p, .night-mode .md-preview p {
  margin-bottom: 25px;
}
.markdown-content blockquote, .day-mode .md-preview blockquote, .night-mode .md-preview blockquote {
  position: relative;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-left-width: 4px;
  border-left-style: solid;
  word-break: break-word;
  font-size: 15px;
  font-weight: 100;
  line-height: 30px;
}
.markdown-content blockquote p, .day-mode .md-preview blockquote p, .night-mode .md-preview blockquote p {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.7;
}
.markdown-content blockquote p:last-child, .day-mode .md-preview blockquote p:last-child, .night-mode .md-preview blockquote p:last-child {
  margin: 0;
}
.markdown-content ul, .day-mode .md-preview ul, .night-mode .md-preview ul {
  margin-bottom: 20px;
}
.markdown-content ul li, .day-mode .md-preview ul li, .night-mode .md-preview ul li {
  line-height: 30px;
}
.markdown-content img, .day-mode .md-preview img, .night-mode .md-preview img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.markdown-content pre, .day-mode .md-preview pre, .night-mode .md-preview pre {
  word-wrap: normal;
  word-break: normal;
  overflow: auto;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.markdown-content pre code, .day-mode .md-preview pre code, .night-mode .md-preview pre code {
  padding: 0;
}
.markdown-content code, .day-mode .md-preview code, .night-mode .md-preview code {
  padding: 2px 4px;
  border: none;
  white-space: pre;
}

.article-share {
  margin-bottom: 40px;
}
a.like-btn {
  display: block;
  position: relative;
  float: left;
  width: 160px;
  height: 50px;
  border: 1px solid #e78170;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  overflow: hidden;
  color: #e78170;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
a.like-btn .like-content {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 70%;
  line-height: 50px;
  vertical-align: middle;
  padding-right: 10px;
}
a.like-btn .like-count {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 30%;
  line-height: 50px;
  vertical-align: middle;
  border-left: 1px solid;
}
a.like-btn:hover {
  color: #e78170;
  background: #f6cec7;
  border-color: #f6cec7;
}
.article-share a.note-liked {
  border-color: #de533c;
  background-color: #de533c;
  color: white;
}

.comment-container {
  margin-bottom: 30px;
  font-size: 13px;
}
.comment-container .comment-head {
  margin-bottom: 25px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: 12px;
  line-height: 52px;
}
.comment-container .comment-head a.goto-comment {
  margin: 0 5px;
}
.comment-item {
  margin-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: 16px;
  line-height: 1.5;
}
.comment-item .meta-top {
  padding-top: 10px;
  margin: 0 0 10px;
}
.comment-item .meta-top .avatar {
  width: 35px;
  height: 35px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  line-height: 1%;
}
.comment-item .meta-top .avatar img {
  width: 100%;
  height: 100%;
  border: none;
}
.comment-item .meta-top .reply-time {
  position: relative;
  top: 1px;
  margin-top: 3px;
  margin-right: 10px;
  font-size: 12px;
}
.comment-item .meta-top .author-name {
  display: block;
  line-height: 1.1;
  font-size: 14px;
}
.comment-item .comment-content {
  word-break: break-all;
  word-wrap: break-word;
}
.comment-item .comment-footer, .comment-item .reply-item .reply-footer, .reply-item .comment-item .reply-footer {
  margin-bottom: 10px;
}
.comment-item .comment-footer a, .comment-item .reply-item .reply-footer a, .reply-item .comment-item .reply-footer a {
  margin-left: 14px;
  font-size: 12px;
}
.comment-item .reply-list {
  padding-bottom: 30px;
  margin-top: 10px;
  border-top-width: 1px;
  border-top-style: dashed;
}
.comment-item form.new-reply {
  margin-bottom: 30px;
}
.comment-item form.new-reply .comment-text {
  margin-top: -1px;
  border-radius: 0;
}
.reply-item {
  padding: 15px 0 15px 10px;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-left-width: 3px;
  border-left-style: solid;
  font-size: 13px;
}
.reply-item .reply-footer .reply-time {
  font-size: 12px;
}
.comment-container .comment-text {
  padding: 10px;
  margin-top: 30px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}
.comment-container .comment-text textarea {
  width: 100%;
  height: 78px;
  padding: 0;
  margin: 0;
  border: none;
  resize: none;
  overflow: auto;
  outline: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.comment-container .comment-signin {
  text-align: center;
}

.prenext {
  margin-bottom: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.prenext .next, .prenext .prev {
  display: inline-block;
  /* non-flexbox browsers */
  -webkit-flex: 1 0;
  flex: 1 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.prenext .next a, .prenext .prev a {
  font-size: 16px;
}
.prenext .next a span, .prenext .prev a span {
  font-size: 14px;
}


//mine
.admin-container{
  margin-top:80px;

  .admin-controller{
    position: fixed;
    top:80px;

  }
  .fix{
    height: 10px;

  }
  .controller-title{
    text-align: center;
    font-size:25px;
    padding: 20px;

  }
  .controller-item{
    display: block;
    text-align: center;

    border-right: 5px solid #cccccc;
    font-size:15px;
    padding: 10px 20px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    &.active{
      color: #de533c;
      border-right:5px solid #de533c;
    }
  }
}

.admin-comments,.admin-tags,.admin-user,.admin-articles{
  padding:0 50px;
}

.tagForm-container,.userForm-container{
  margin:20px;
  input{
    margin-right:30px;
  }
}






//新样式
a{
  text-decoration: none;
  color: #3a539b;
}

.background{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-image:url("https://unsplash.it/1280/984?random&t=3&gravity=north");
  background-size:cover;
  background-position:center center;
}

#outer-container{
  position: absolute;
  left:50%;
  width:940px;
  margin-left: -480px;
  -webkit-box-shadow: 0 0 2.5em #5d656c;
  -moz-box-shadow: 0 0 2.5em #5d656c;
  box-shadow: 0 0 2.5em #5d656c;
  background-color:#ffffff;
  #container{
    background: #ffffff;
  }
  .content-outer{
    padding:10px;
  }
  .sort-tags{
    margin:22px 0;
    list-style: none;
    li{
      float: left;
      text-align: center;
      margin-right:10px;
      a{
        display: block;
        font-size: 18px;
        border:1px solid #cccccc;
        text-align: center;
        padding:7px 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        color: #000;
        &.active{
          background: #e78170;
          color: #fff;
        }
      }
    }
  }
  .article-list{
    line-height:1.5em;
  }
  .articleList-item{
    margin-left:20px;
    padding-left:5px;
    border-left:2px #bbb solid;
    &:hover{
      border-left:4px #1e8bc3 solid;
    }
    .list-footer{
      margin-top: 2px;
      color: #888;
      font-size: 14px;
      .like-count{
        color: #ff6666;
      }
      .visit-count{
        color: #4cb88b;
      }
      .comment-count{
        color:#00d8ff;
      }
    }
    .time{
      font-size:14px;
      margin-top: 2px;
      color: #888;
    }
  }
  .footer-container{
    background:#ffffff;
  }
}

#container{
  margin-top:50px;
}

