.day-mode, .night-mode {
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

html,body,.top-box{
  height:100%;
}

a{
  text-decoration: none;
  &:hover,&:active,&:focus{
    text-decoration: none;
  }
}

ul,ol {
  list-style: none;
}

input.ng-invalid.ng-dirty {
  color:#ff6666;
}
input.ng-dirty{
  color:#00d6b2;
}

.day-mode{
  .navbar-skin{
    background: #FFFFFF;
    -webkit-box-shadow: 0 1px 4px #eee;
    -moz-box-shadow: 0 1px 4px #eee;
    box-shadow: 0 1px 4px #eee;
  }
}

.night-mode{
  .navbar-skin{
    background: #3f3f3f;
  }
}


